@media (max-width: 1180px) {
  .card__items {
    gap: 250px 15px;
    justify-content: center;
  }
}
@media (max-width: 940px) {
  .header__offer img {
    max-width: 365px;
    right: 50px;
  }
  .advantages {
    gap: 0 25px;
  }
}

@media (max-width: 768px) {
  //Header adaptive
  .header {
    background-image: url('../img/dots-bg-tablet.svg');
    background-position: center bottom;
  }
  .burger-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px 0;
    padding: 0;
    span {
      display: block;
      border-radius: 10px;
      width: 24px;
      height: 2.5px;
      background-color: #fff;
    }
  }
  .menu {
    display: none;
  }
  .header__offer img {
    max-width: 268px;
  }
  .header__offer .offer__title {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.04em;
    margin: 0px 0 24px;
    & span {
      font-size: 34px;
      line-height: 33px;
    }
  }
  .header__top {
    min-height: 85px;
  }
  .header__offer .products-link {
    min-width: 108px;
  }
  .header__offer .made-link {
    min-width: 108px;
  }
  .header__offer .offer__info b {
    font-size: 28px;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.04em;
  }
  .header__offer .offer__info span {
    font-size: 8px;
    line-height: 10px;
  }
  .content__bottom img {
    max-width: 152px;
  }
  .content__bottom p {
    font-size: 12px;
    line-height: 17px;
    max-width: 168px;
  }
  .content__bottom {
    padding: 12px 0;
  }
  .header__offer .offer__inner {
    max-width: 340px;
  }
  .header__offer .offer__info {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 20px 0;
  }

  //Products adaptive
  .products__subtitle {
    font-size: 22px;
    line-height: 27px;
  }
  .products__title {
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.04em;
  }
  .card__items {
    margin-top: 250px;
  }
  .card__item {
    max-width: 224px;
    min-height: 428px;
    padding: 0 15px 12px;
  }
  .card__item .card__title {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }
  .card__item .card__decription {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    max-width: 172px;
  }
  .card__item .card__img-wrapper,
  .card__item .card__img-wrapper img {
    max-width: 200px;
    max-height: 200px;
  }
  .card__items .card__item .card__img-wrapper {
    margin: -100px auto 0;
  }
  //About adaptive
  .about__subtitle {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }
  .about__title {
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.06em;
  }
  .about__img-wrapper {
    width: 330px;
    height: 330px;
    margin-top: 72px;
    img {
      width: 330px;
      height: 330px;
    }
  }
  .about__info {
    max-width: 336px;
    letter-spacing: 0.04em;
    color: #fcfcfc;
    margin-top: 80px;
    margin-left: 38px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
  }
  button.more-btn {
    min-width: 152px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
  }

  //Reviews adaptive
  .reviews img {
    max-width: 100%;
  }
  .swiper-slide {
    margin-top: 0;
  }
  //Contacts adaptive

  .contacts__item {
    max-width: 224px;
    padding: 40px;
  }
  .contacts__info,
  .contacts__item p,
  .contacts__item a,
  .contacts__item span {
    font-size: 14px;
  }
  //Footer adaptive

  .footer__subtitle {
    font-size: 26px;
    line-height: 32px;
  }

  .footer__title {
    font-size: 48px;
    line-height: 59px;
  }
  .footer__contacts b {
    white-space: nowrap;
  }
  .card__item .card__decription {
    margin-top: 40px;
  }
  .card__items {
    gap: 170px 15px;
  }
}

@media (max-width: 700px) {
  .header {
    background-image: url('../img/dots-bg-mobile.svg');
    background-position: 100px bottom;
    background-size: contain;
  }

  .header__offer img {
    right: 50px;
  }
  .content__bottom {
    visibility: hidden;
  }

  .advantage__item b {
    font-size: 48px;
    line-height: 59px;
    margin: 32px 0 12px;
  }
  .advantage__item p {
    font-size: 14px;
    line-height: 24px;
  }
  .advantages {
    margin-top: 60px;
  }
  .about__info p {
    margin: 8px 0;
  }
  .contacts__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px 0;
  }
  .contacts__item {
    max-width: 345px;
  }
  .footer__top {
    flex-direction: column;
  }
  .footer__title,
  .footer__subtitle {
    max-width: 262px;
  }
  .footer__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__title {
    margin-top: 16px;
    font-size: 34px;
    line-height: 41px;
  }
  .footer__contacts {
    text-align: end;
  }
  .social-icons {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media (max-width: 585px) {
  .header__offer .offer__info {
    display: none;
  }
  .header__offer img {
    right: 0px;
    width: 218px;
  }
  .content__bottom {
    display: none;
  }
  .header__content {
    padding-bottom: 137px;
  }
  .header__offer .made-link {
    margin-left: 12px;
  }
  .byNow__btn {
    display: none;
  }
  .products__title {
    font-size: 30px;
    line-height: 38px;
  }
  .products__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .card__items {
    margin-top: 180px;
  }
  .about__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__info {
    margin-left: 0;
  }
  .advantages {
    flex-direction: column;
    align-items: center;
    gap: 32px 0;
  }
  .contacts__buttons {
    flex-wrap: wrap;
  }
  .menu-mobile {
    padding: 40px 0 0;
  }
  .menu-mobile__list-link {
    font-size: 32px;
    line-height: 39px;
  }
  // button.byNow__btn-mobile {
    // margin-top: 114px;
    // margin: 114px auto 0;
// }
}

@media (max-width: 375px) {
  .header {
    background-position: center bottom;
  }
  .header__offer img {
    max-width: 177px;
    right: 25%;
  }
  .header__content {
    padding-bottom: 230px;
  }
  .about__img-wrapper img,
  .about__img-wrapper {
    width: 279px;
    height: 279px;
  }
  .footer__contacts,
  .footer__contacts a {
    font-size: 12px;
    line-height: 22px;
  }
}
