.header {
  background-color: #84a178;
  background-image: url('../img/dots-bg.svg');
  background-repeat: no-repeat;
  background-position: center 280px;
  background-size: auto;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
  .container {
    position: relative;
  }
}

.menu__list {
  display: flex;
  gap: 0 28px;
  margin-left: 50px;
  &-link {
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  &-link:hover {
    color: #f8d24e;
  }
}

.header__offer {
  display: flex;
  justify-content: space-between;
  .offer__inner {
    max-width: 367px;
  }
  img {
    position: absolute;
    right: 100px;
    bottom: 0;
  }
  .offer__title {
    text-transform: uppercase;
    color: #fcfcfc;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    margin: 20px 0 28px 0;
    letter-spacing: 0.04em;
    font-family: 'Seymour One', sans-serif;
  }
  .products-link {
    display: inline-block;
    min-width: 134px;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    padding: 12px 10px;
    text-align: center;
    color: #131313;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    &:hover {
      border-color: #0a8817;
    }
    &:focus {
      color: #fff;
    }
    &:disabled {
      border-color: #ababab;
    }
  }
  .made-link {
    color: #f8d24e;
    display: inline-block;
    min-width: 134px;
    text-decoration: underline;
    margin-left: 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    &:hover {
      color: #0a8817;
    }
    &:focus {
      color: #fff;
    }
    &:disabled {
      color: #ababab;
    }
  }
  .offer__info {
    margin-top: 28px;
    b {
      display: block;
      text-align: end;
      font-weight: 900;
      font-size: 46px;
      line-height: 56px;
    }
    span {
      display: block;
      color: #fcfcfc;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.content__bottom {
  display: flex;
  gap: 0 16px;
  align-items: center;
  padding: 42px 0 65px;
  p {
    position: relative;
    max-width: 189px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0 0;
  }
  a {
    display: inline-block;
    margin-top: 24px;
  }
  a:hover path {
    fill: #f8d24e;
  }
}
