.byNow__btn,
.byNow__btn-mobile {
  border-radius: 10px;
  background-color: #f8d24e;
  padding: 12px 10px;
  text-align: center;
  min-width: 152px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  outline: none;
  border: none;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #fcfcfc;
  }
  &:focus path {
    fill: #fcfcfc;
  }
  &:disabled {
    background-color: #ababab;
  }
  svg {
    margin-left: 3px;
  }
}

.byNow__btn-mobile {
  margin: 114px auto 88px;
  display: block;
}

.more-btn {
  text-align: center;
  min-width: 164px;
  color: #000;
  background-color: #f8d24e;
  border-radius: 10px;
  padding: 12px 10px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 54px;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #fcfcfc;
  }
  &:focus path {
    fill: #fcfcfc;
  }
  &:disabled {
    background-color: #ababab;
  }
  svg {
    margin-left: 3px;
  }
}

.contacts__buttons {
  margin-top: -68px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 16px 16px;
  button {
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    padding: 12px 0;
    min-width: 196px;
  }
}
.locations-btn {
  background-color: #f8d24e;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: #fff;
  }
  &:disabled {
    background: #ababab;
  }
  &:focus path {
    fill: #fff;
  }
}
.franchise-btn {
  background-color: transparent;
  border: 2px solid #f8d24e;
  &:hover {
    border-color: #0a8817;
  }
  &:focus {
    border-color: #0a8817;
    color: #fff;
  }
  &:disabled {
    border-color: #ababab;
  }
  &:focus path {
    fill: #fff;
  }
}
